<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jackets</title>
</head>
<body>
    <h3>This is the jackets page</h3>
    <form action="/jacket" method="POST">
        <div>
            <label for="jacketName">Jacket Name</label>
            <input type="text" name="jacketName" id="jacketName">
            
        </div>
        <div>
            <label for="size">Size</label>
            <input type="text" name="size" id="size">
            
        </div>
        <button type="submit">Submit</button>
    </form>
    
</body>

</html>