<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe</title>
</head>
<body>
    <h3>This is the shoe page</h3>
    <form action="/shoe" method="POST">
        <div>
            <label for="shoeName">Shoe Name</label>
            <input type="text" name="shoeName" id="shoeName">
            
        </div>
        <div>
            <label for="size">Size</label>
            <input type="text" name="size" id="size">
            
        </div>
        <button type="submit">Submit</button>
    </form>
    
</body>

</html>