<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <form action="/user" method="POST">
        <div>
            <label for="Name">Name:</label>
        <input type="text" name="fullName" id="fullName">
        </div>
        <div>
            <label for="age">Age:</label>
        <input type="text" name="age" id="age">
        </div>
        <button type="submit">Submit</button>

    </form>
</body>
</html>