<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product page</title>
</head>
<body  style="text-align: center;">
    
<div>
    <form action="/" method="POST">

        <div>
            <label for="productName">Name:</label>
             <input type="text" name="name" id="name">
        </div>
        <p>
            <div>
                <label for="productPrice">Price:</label>
                 <input type="text" name="price" id="price">
            </div>
        </p>

        <button type="submit">ADD</button>

    </form>
</div>
</body>
</html>